<style>
 .ytd-grid{
        display:grid;
        grid-template-columns:270px 270px 270px;
               }
 .ytd-container{
            height:266px;
            width:266px;
               }
               
           
 .thumbnail{
         width:258px;
         height:144.766px;
         object-fit:contain;
           }
 
 .video-info{
          display:grid;
          grid-template-columns:48px 1fr;
          font-family: 'Roboto', sans-serif;
            }
 .video-title{
         font-family: 'Roboto', sans-serif;
         font-size:14px;
         margin:12px 0px 0px 0px;
         font-weight: 500;
         width: 100%;
         line-height: 20px;
         margin-bottom: 0;
             }    
 .profile-pic{
              border-radius:80%;
              height:36px;
              width:36px;
              margin-top:12px;
             }
 .channel-name{
               font-size:12px;
               margin:8px 0px 0px 0px;
               
              }
 .video-stats{
              font-size:12px;
              margin:0px 0px 16px 0px;
              
              }
</style>
